body {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #f0f0f0;
}

a {
  color: inherit;
  text-decoration: none;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #be3144;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#navbar h1 {
  flex: 1 1 auto;
  margin: 0.5em;
  padding: 0.25em;
}

#nav-link-list {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
  margin: 0.5em;
  padding: 0.25em;
}

@media (max-width: 550px) {
  #navbar h1 {
    position: absolute;
    left: -9999px;
  }

  #nav-link-list {
    justify-content: center;
  }
}

#nav-link-list li {
  padding: 0.25em;
  margin: 0 1em;
}

#welcome-section {
  background-image: linear-gradient(45deg, #3a3d40, #181719);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#welcome-section > h1 {
  font-size: 3.5em;
  font-weight: bolder;
  margin: 0;
  padding: 0.2em;
}

#welcome-section p {
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #be3144;
  margin: 0;
  padding: 0.2em;
}

@media (max-width: 650px) {
  #welcome-section p {
    text-align: center;
  }
}

#projects {
  background-color: #45567d;
  padding: 0.8em;
}

#projects > p {
  font-size: 2em;
  font-weight: bold;
  width: max-content;
  margin: 0 auto;
  padding: 1em 1em 0.5em 1em;
  border-bottom: 2px solid #F0F0F0;
}

#project-grid {
  max-width: 1280px;
  width: 100%;
  margin: 2.5em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5em;
}

.project-tile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
}

#project-calculator {
  background-image: url(https://github.com/Mehul-Saxena/FCC-Projects/blob/main/Portfolio/Images/Calculator.png?raw=true);
}

#project-documentation {
    background-image: url(https://github.com/Mehul-Saxena/FCC-Projects/blob/main/Portfolio/Images/Documentation_page.png?raw=true);
}

#project-product {
    background-image: url(https://github.com/Mehul-Saxena/FCC-Projects/blob/main/Portfolio/Images/Product_page.png?raw=true);
}

#project-sketch {
    background-image: url(https://github.com/Mehul-Saxena/FCC-Projects/blob/main/Portfolio/Images/Sketch.png?raw=true);
}

#project-survey {
    background-image: url(https://github.com/Mehul-Saxena/FCC-Projects/blob/main/Portfolio/Images/Survey_form.png?raw=true);
}

#project-tribute {
    background-image: url(https://github.com/Mehul-Saxena/FCC-Projects/blob/main/Portfolio/Images/Tribute.png?raw=true);
}

.project-tile-title {
  margin: 0;
  padding: 1.25em;
  text-align: center;
  font-weight: 600;
  font-size: 1.25em;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  background-color: #303841;
}

.project-tile-title p {
  margin: 0 0.5em;
}

.code {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  color: #303841
}

.project-tile:hover {
  animation-name: scale;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes scale {
  100% {
    transform: scale(1.02);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
  }
}

.project-tile:hover .code{
  animation-name: code-color;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes code-color {
  100% {
    color: #be3144;
  }
}

#contact {
  background-color: #303841;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#contact > h1 {
  margin: 0;
  padding: 1em;
  font-size: 3em;
}

@media (max-width: 600px) {
  #contact > h1 {
    font-size: 3em;
    text-align: center;
  }
}

#contact-list {
  width: 35%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

#profile-link {
  font-size: 1.25em;
  margin: 0;
  padding: 0.8em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.fab {
  padding: 0 0.5em;
  font-size: 1.2em;
}

#footer {
  background-color: #303841;
  border-top: 4px solid #be3144;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#footer > p {
  margin: 0;
  padding: 1.5em;
}

@media (max-width: 600px) {
  #footer > p {
    text-align: center;
  }
}